
.navbar-default {
    
    background-color: white;
    border-color: white;
    text-color:black;
    margin:1px;
    
}


.navbar-default li:hover {
    background-color: red;
}



.myform{
margin:0px auto;	
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.col-md-1{
	padding-right:20px;
	padding-left:20px
}
.dropdown-menu{
	background-color:red;
}


  /*teeeeest*/
 #redtop{
 background-color:#ce002f;
 text-color:red;
 color:red;
 /*height:15px;*/
 }
 
 .navbar-nav> li:last-child{
    float:right;
}

#top{
	position:fixed;
	background-color:white;
	right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}